
.container{
    margin-top:150px;
    background: linear-gradient(30deg,lightblue,gray);
    width: 100%;
}
.footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 5px;
    bottom: 0px;
    margin-top: 148px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: lightblue;
    color: black;
    border: 1px solid white;
    padding: 10px;
    width: 50vw;
    align-content: center;
    margin-left: 20vw;
    margin-top: 60px;
    
 }