<!DOCTYPE html>
<html>
    <body>
    <div class = "header">
        <ul>
             <li><img src = "../../assets/logo.png" style="width:40px;height:auto;margin:10px;position:relative;"></li>
        </ul>
        <h1> Welcome to the Shoping place</h1>
    </div>
    <div class="container">
    <form class = "form" [formGroup] = "signinForm">
        <div class = "row">
            <div class="lab">   
                <label>Email</label>
            </div>
            <div class="inp">
                <input type="email" class="form-control" formControlName = "email" placeholder="e.g sam@gmail.com">
            </div>
        </div>
         <div *ngIf="!signinForm.controls.email.valid && 
        (signinForm.controls.email.dirty)" class="validator">Invalid email address</div>
        
        <div class="row">
            <div class="lab">
                <label>Password</label>
            </div>
            <div class="inp">
                <input type="password" class="form-control" formControlName = "password" >
            </div>
        </div>
          
        <div *ngIf="signinForm.controls.password.hasError('pattern') &&
        (signinForm.controls.password.dirty || submitted)"
        class="validator">
        Passwords should be at least 8 characters long and contain one number, one character and one special character.
        </div>
        <div class="row">
        <button [disabled] = "!signinForm.valid" (click)="login()">Login</button>
        </div>
     </form>
     <div class="row" >
         <p>Forgot your password? <a uiSref = 'passwordreset'>click here</a> </p>
     </div>
    </div>
    </body>
</html>